body {
	/*background-image: url(../img/NCxPSZufqDQ.jpg);*/
    background-color: #8CECD7;
}

.button-block.col-md-6.col-md-offset-3 {
    text-align: center;
}

.button-block > button {
    outline: none;
    background: #eee;
    color: #088;
    text-decoration: none;
    display: inline-block;
    width: 90px;
    text-align: center;
    margin: 20px auto;
    padding: 10px 10px;
    border: 0;
    transition: all 0.3s;
}
.button-block > button:hover{
    box-shadow:0px -5px 0 #088 inset;
}

h1 {
    text-align: center;
}

.cart-block {
    width: 22%;
    height: 300px;
    position: relative;
    display: inline-block;
    background-color: #77776E;
}

.cart-block-bottom {
    position: absolute;
    bottom: 0px;
    height: 65px;
    width: 100%;
    background-color: #D4D4DE;
}

.main-block.col-md-10.col-md-offset-1 {
    text-align: center;
}






.ng-enter {
    animation: 1.5s myChange;
}

@keyframes myChange {
    from {
        opacity: 0;
    } to {
        opacity: 1;
      }
}