<div>
    <h1>Hello world! I'm the third template</h1>
    <div class="main-block col-md-10 col-md-offset-1">
        <div class="cart-block"><div class="cart-block-bottom">Текст 1</div></div>
        <div class="cart-block"><div class="cart-block-bottom">Текст 2</div></div>
        <div class="cart-block"><div class="cart-block-bottom">Текст 3</div></div>
        <div class="cart-block"><div class="cart-block-bottom">Текст 4</div></div>
        <div class="cart-block"><div class="cart-block-bottom">Текст 5</div></div>
        <div class="cart-block"><div class="cart-block-bottom">Текст 6</div></div>
        <div class="cart-block"><div class="cart-block-bottom">Текст 7</div></div>
        <div class="cart-block"><div class="cart-block-bottom">Текст 8</div></div>
        <div class="cart-block"><div class="cart-block-bottom">Текст 9</div></div>
        <div class="cart-block"><div class="cart-block-bottom">Текст 10</div></div>
        <div class="cart-block"><div class="cart-block-bottom">Текст 11</div></div>
        <div class="cart-block"><div class="cart-block-bottom">Текст 12</div></div>
    </div>
</div>